[Desktop Entry]
Type=Application
Name=esee
Comment=Extremely Simple EXIF Editor
Icon=esee
Exec=esee %f
Terminal=false
MimeType=image/jpg;image/jpeg;
Categories=Utility;Viewer;
StartupNotify=true
