[Desktop Entry]
Type=Application
Name=esev
Comment=Extremely Simple EXIF Viewer
Icon=esev
Exec=esev %f
Terminal=false
MimeType=image/jpg;image/jpeg;
Categories=Utility;Viewer;
StartupNotify=true
